:root {
  --color-title: #fff;
  --color-title-dialog: #fff;
  --color-content: #d7dde0;
  --color-comment: #959ca0;
  --color-disabled: #808080;
  --color-selected: #fff;
  --color-light-dark: #2b85e4;
  --color-light-normal: #2d8cf0;
  --color-light-high: #5cadff;
  --color-light-link: #fff;
  --color-light-info: #d7dde0;
  --color-light-success: #19be6b;
  --color-light-warning: #ff9900;
  --color-light-error: #ed4014;
  --background-color-default: #151515;
  --background-color-toolbar: #555555;
  --background-color-pane: #333435;
  --background-color-pane-body: #252626;
  --background-color-title: #474747;
  --background-color-code: #434546;
  --background-color-float: #474747;
  --background-color-popver: #474747;
  --background-color-element: #999999;
  --background-color-dialog: #474747;
  --background-color-workspace: #151515;
  --background-color-light-dark: #2b85e4;
  --background-color-light-normal: #555657;
  --background-color-light-high: #2d8cf0;
  --background-color-light-info: #474747;
  --background-color-light-success: #474747;
  --background-color-light-warning: #474747;
  --background-color-light-error: #474747;
  --border-color-default: #454647;
  --border-color-divider-content: hsla(0, 0%, 100%, 0.3);
  --border-color-divider-pane: #151515;
  --border-canvas: 1px solid #454647;
  --box-shadow-card: none;
  --box-shadow-pane: none;
  --box-shadow-float: none;
  --box-shadow-canvas: none;
  --font-size-title-large: 24px;
  --font-size-title: 20px;
  --font-size-content: 12px;
  --font-size-comment: 10px;
  --font-size-icon-large: 24px;
  --font-size-icon-medium: 20px;
  --font-size-icon-mini: 16px;
}